* text=auto !eol
/ACKNOWLEDGEMENTS -text
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/INSTALL -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-scn-spa.scn-spa.dix -text
/apertium-scn-spa.scn-spa.lrx -text
/apertium-scn-spa.scn-spa.t1x -text
/apertium-scn-spa.scn-spa.t2x -text
/apertium-scn-spa.scn-spa.t3x -text
/apertium-scn-spa.spa-scn.lrx -text
/apertium-scn-spa.spa-scn.t1x -text
/apertium-scn-spa.spa-scn.t2x -text
/apertium-scn-spa.spa-scn.t3x -text
/autogen.sh -text
/configure.ac -text
dev/testvoc/bidix-unknowns.sh -text
dev/testvoc/generation.sh -text
dev/testvoc/streamparser.py -text
dev/wikipedia.vucabbulariu.txt -text
/modes.xml -text
t/README.org -text
t/config.sh -text
t/config.sh.in -text
t/pending-tests -text
t/regression-tests -text
t/update-latest -text
t/wiki-tests -text
texts/cuento.scn.txt -text
texts/cuento.spa.txt -text
texts/fusioni.scn.txt -text
texts/fusioni.spa.txt -text
texts/tokamak-1.scn.txt -text
texts/tokamak-1.spa.txt -text
texts/tokamak-2.spa.txt -text
