* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/INSTALL -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-scn-spa.scn-spa.dix -text
/apertium-scn-spa.scn-spa.lrx -text
/apertium-scn-spa.scn-spa.t1x -text
/apertium-scn-spa.scn-spa.t2x -text
/apertium-scn-spa.scn-spa.t3x -text
/apertium-scn-spa.spa-scn.lrx -text
/apertium-scn-spa.spa-scn.t1x -text
/apertium-scn-spa.spa-scn.t2x -text
/apertium-scn-spa.spa-scn.t3x -text
/autogen.sh -text
/configure.ac -text
dev/testvoc/bidix-unknowns.sh -text
dev/testvoc/generation.sh -text
dev/testvoc/streamparser.py -text
/modes.xml -text
texts/cuento.scn.txt -text
texts/cuento.spa.txt -text
texts/fusioni_tokamak.scn.txt -text
texts/fusioni_tokamak.spa.txt -text
